<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;1,400;1,600&family=Raleway:ital,wght@0,100;0,400;0,700;1,300&display=swap"
  rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
 <link rel="stylesheet" type="text/css" href="/style/normalize.css">
 <link rel="stylesheet" type="text/css" href="/style/index.css">
 <title>Ahorcado-ONE</title>
</head>

<body>
 <header id="header">
  <div class="img-container">
   <img src="/assets/image/logoalura.png" alt="Logo Alura">
  </div>
 </header>
 <main>
  <!-- inicio -->
  <section id="inicio" class="section-inicio">
   <div class="section-container">
    <button type="submit" class="btn-jugar" onclick="iniciarJuego()">Jugar Ahora</button>
    <button type="submit" class="btn-agregar"onclick="agregarPalabra()">Agregar Palabra</button>
   </div>
  </section>

  <!-- parte de agregar palabra -->
  <section id="section-palabra" class="ocultar">
   <div class="palabra-nueva">
    
    <div class="palabra-container">
     <input type="text" name="palabra" id="palabra" placeholder="Ingrese una palabra" required>
    </div>
    
    <div id="section-btn">
     <div class="btn-container">
      <p><i class="bi bi-exclamation-circle-fill"></i> Max. de 8 letras</p>
      <button type="submit" class="btn-guardar" onclick="guardarPalabra()">Guardar y empezar</button>
      <button type="submit" class="btn-cancelar" onclick="cancelar()">Cancelar</button>
     </div>
    </div>
   </div>
  </section>

  <!-- parte del juego -->
  <section id="juego" class="ocultar ">
   <div class="juego-container">
    <div class="canvas-container">
     <div>
      <canvas id="canvas" width="500" height="400"></canvas>
     </div>
    </div>
    <div class="container-letras">
     <div id="letras-correctas" class="letras-correc">
     </div>
    </div>
    <div class="letras-incorrectas">
    </div>
    <div class="botones-juego">
     <div class="botones-juego-container">
      <button type="submit" class="btn-nuevo"onclick="iniciarJuego()">Nuevo Juego</button>
      <button type="submit" class="btn-retirarse">Retirarse</button>
     </div>
    </div>
   </div>
  </section>
 </main>
 <footer>
  <div class="footer-container">
   <p>&copy; Alura ONE</p>
  </div>
 </footer>
 <script src="/js/index.js"></script>
</body>

</html>