html{
 box-sizing: border-box;
 font-family: 'Inter',sans-serif;
font-size: 16px;
}
*,*::after,*::before{
 box-sizing: inherit;
}

body{
 background-color: #E5E5E5;
}

.img-container{
 width: 90%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 margin-bottom: 5px;
}

/* !Section de inicio de juego */

#section-inicio{
 width: 100%;
 height: 90vh;
}

.section-container{
 display: flex;
 height: 100%;
 flex-flow: column;
 align-items: center;
 justify-content: center;
 
}

.btn-jugar{
 width: 80%;
 height: 105px;
 color: #FFF;
 background-color: #0A3871;
 margin-bottom: 20px;
 border-radius: 24px;
 border: thin solid #0A3871;
 cursor: pointer;
}

.btn-agregar{
 width:60%;
 height: 105px;
 color: #0A3871;
 background-color: #FFF;
 border: thin solid #0A3871;
 border-radius: 24px;
 cursor: pointer;
}
.ocultar{
 display: none;
}
/* !Section juego */
/* #section-juego{
 display: none;
} */
#section-palabra{
 width: 100%;
 height: 90vh;
}
.palabra-container{
 width: 90%;
 height: 60vh;
 padding-top: 6em;
 margin-left: auto;
 margin-right: auto;
}

.palabra-container input{
 width: 90%;
 height: 1.5em;
 border: 0;
 background-color: #E5E5E5;
}
.palabra-container input::placeholder{
 font-size: 25px;
 color: #0A3871;
}

#section-btn{
 width: 100%;
 height: 30vh;
}
.btn-container{
 width: 90%;
 display: flex;
 flex-flow: column;
 margin-left: auto;
 margin-right: auto;
}
.btn-container i{
 font-size: 1.2em;
 color: #000;
}
.btn-container p{
 margin: 0;
 font-size: 0.9em;
 color: #495057;
 margin-bottom: 10px;
}

.btn-guardar{
 width: 100%;
 height: 4.18em;
 background-color: #0A3871;
 color: #FFF;
 margin-bottom: 1em;
 border: thin solid #0A3871;
 border-radius: 24px;
}
.btn-cancelar{
 width: 100%;
 height: 4.18em;
 border: thin solid #0A3871;
 color: #000;
 border-radius: 24px;
}

footer{
 width: 100%;
 height: 10vh;
 background-color: #E5E5E5;
}
.footer-container p{ 
 margin: 0;
 }



 /*!tablets*/
@media(min-width:700px){

 .img-container{
  width: 90%;
  margin-top: 40px;
  margin-bottom: 5px;
 }

.btn-jugar{
 width: 50%;
 height: 13%;
 color: #FFF;
 background-color: #0A3871;
 margin-bottom: 20px;
 border-radius: 24px;
}

.btn-agregar{
 width:50%;
 height: 8%;
 color: #0A3871;
 background-color: #FFF;
 border: thin solid #0A3871;
 border-radius: 24px;
}
#section-palabra{
 width: 100%;
 height: 90vh;
}
.palabra-container{
 padding-top: 10em;
 height: 70vh;
}
.palabra-container input{
 height: 3em;
}
.palabra-container input::placeholder{
 font-size: 2.2em;
}

#section-btn{
 width: 100%;
 height: 20vh;
}
.btn-container{
 width: 90%;
 display: block;
 
 margin-left: auto;
 margin-right: auto;
}
.btn-container p{
 margin-bottom: 15px;
}
.btn-guardar{
 width: 47%;
 height: 4.18em;
 margin-right: 1.6em;
 margin-bottom: 0;
 background-color: #0A3871;
 color: #FFF;
 border: thin solid #0A3871;
 border-radius: 24px;
}
.btn-cancelar{
 width: 47%;
 height: 4.18em;
 border: thin solid #0A3871;
 color: #000;
 border-radius: 24px;
}
}

/*!computador*/
@media(min-width:1050px){

 .img-container{
  margin-top: 20px;
 }

.btn-jugar{
 width: 25%;
 height: 13%;
 color: #FFF;
 background-color: #0A3871;
 margin-bottom: 20px;
 border-radius: 24px;
}

.btn-agregar{
 width:20%;
 height: 8%;
 color: #0A3871;
 background-color: #FFF;
 border: thin solid #0A3871;
 border-radius: 24px;
}

.img-container{
 margin-top: 1em;
}
#section-palabra{
 height: 70%;
 height: 90vh;
}
.palabra-nueva{
 width: 70%;
 height: 80%;
 margin-left: auto;
 margin-right: auto;
}
.palabra-container{
 padding-top: 2.5em;
}
.palabra-container input{
 height: 1.5em;
}
.palabra-container input::placeholder{
 font-size: 1.5em;
}
/* #section-btn{
 height: 30vh;
} */
}